[package]
name = "ferdilight"
version = "0.1.0"
description = "A minimalist Ferdium-like app with multi-webview support"
authors = ["you"]
edition = "2021"

[lib]
name = "ferdilight_lib"
crate-type = ["staticlib", "cdylib", "rlib"]

[build-dependencies]
tauri-build = { version = "2", features = [] }

[dependencies]
tauri = { version = "2", features = ["unstable"] }
tauri-plugin-opener = "2"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
url = "2"
